@font-face {
    font-family: Sans;
    src: url(iransansdn.ttf);
}

* {
    font-family: Sans;
    direction: rtl;
    background-color: #F1F1F1;
}

.body {}

.header {
    height: 900px;
}

.myNameHeader {
    padding-top: 30px;
    padding-right: 60px;
    display: inline-block;
    color: #555555;
}

.menuHeader {
    z-index: 999;
    width: 50px;
    float: left;
    padding: 12px;
    /* background-color: white; */
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    box-shadow: -8px -6px 15px 0 #fff, 6px 8px 15px rgb(0 0 0 / 15%);
    border-color: hsla(0, 0%, 100%, 0);
    margin: 27px;
    display: block;
}

.header-image-shape-wrapper {
    position: absolute;
    left: 10%;
    top: 32%;
}

.shape-image-header {
    width: 24rem;
    height: 32rem;
    border-radius: 30rem;
    background-color: #f1f1f1;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    transform: rotate(-25deg);
    box-sizing: border-box;
    overflow: hidden;
    border: solid 18px #F2F2F2;
}

.shape-image-header-2 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: -15%;
    bottom: 0%;
    width: 140%;
    height: 105%;
    background-position: 80%;
    background-size: cover;
    overflow: hidden;
    transform: rotate(25deg);
}

.right-div-header {
    margin-right: 10%;
}

.text-header {
    position: relative;
    color: #555555;
    float: right;
    margin-top: 13%;
    display: block;
    font-size: 22px;
}

.button-header {
    font-size: 18px;
    margin-top: 50px;
    /* margin: 20px; */
    float: left;
    padding: 25px 60px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    border: none;
    transition: 400ms;
}

.button-header:hover {
    transform: scale(1.03);
    transition: 400ms;
}

.icon-social-header {
    width: 35px;
    margin-top: 60px;
    margin-left: 5px;
    padding: 10px;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    border-radius: 50%;
    transition: 400ms;
}

.icon-social-header:hover {
    transform: scale(1.05);
    transition: 400ms;
}

.about-me {
    height: 500px;
}

.shape-about-me {
    margin-right: 3%;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    border-radius: 35px;
    padding: 30px 50px;
}

.title-about-me {
    color: #555555;
}

.text-about-me {
    line-height: 2.5;
    font-size: 18px;
    color: #9C9C9C;
}

/* -------------------------------------------------- */

.my-specialties {
    height: 900px;
    margin-left: 3%;
    margin-right: 3%;
}

.title-my-specialties {
    color: #555555;
}

.up-shape-my-specialties {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
}

.shape-my-specialties {
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    border-radius: 35px;
    margin: 20px 30px;
    text-align: left;
}

.title-shape-specialties {
    color: #555555;
    text-align: left;
    margin: 30px;
    
}

.sub-title-shape-specialties {
    color: #9C9C9C;
    text-align: left;
    margin: -20px 30px;
    position: relative;
    /* display: inline-block; */
}

.label-progress {
    text-align: left;
    position: relative;
    top: 30px;
    left: 80%;
}

.progress-my-specialties {
    width: 50px;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    background-color: #9C9C9C;
    direction: ltr;
    float: left;
    margin-left: 10%;
    margin-top: 0px;
    border-radius: 10px;
}

#progress-figma {
    background: #555555;
    ;
    border-radius: 13px;
    height: 18px;
    width: 80%;
    padding: 3px;
    direction: ltr;
    float: left;
    margin-left: 10%;
    margin-top: 40px;
}

#progress-figma:after {
    content: '';
    display: block;
    background: orange;
    width: 80%;
    height: 100%;
    border-radius: 9px;
}

#progress-adobexd {
    background: #555555;
    ;
    border-radius: 13px;
    height: 18px;
    width: 80%;
    padding: 3px;
    direction: ltr;
    float: left;
    margin-left: 10%;
    margin-top: 40px;
}

#progress-adobexd:after {
    content: '';
    display: block;
    background: orange;
    width: 60%;
    height: 100%;
    border-radius: 9px;
}

#progress-photoshop {
    background: #555555;
    ;
    border-radius: 13px;
    height: 18px;
    width: 80%;
    padding: 3px;
    direction: ltr;
    float: left;
    margin-left: 10%;
    margin-top: 40px;
}

#progress-photoshop:after {
    content: '';
    display: block;
    background: orange;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}

.down-shape-my-specialties{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
}

#progress-javascript {
    background: #555555;
    border-radius: 13px;
    height: 18px;
    width: 80%;
    padding: 3px;
    direction: ltr;
    float: left;
    margin-left: 10%;
    margin-top: 40px;
}

#progress-javascript:after {
    content: '';
    display: block;
    background: orange;
    width: 30%;
    height: 100%;
    border-radius: 9px;
}

#progress-css {
    background: #555555;
    border-radius: 13px;
    height: 18px;
    width: 80%;
    padding: 3px;
    direction: ltr;
    float: left;
    margin-left: 10%;
    margin-top: 40px;
}

#progress-css:after {
    content: '';
    display: block;
    background: orange;
    width: 80%;
    height: 100%;
    border-radius: 9px;
}

#progress-html {
    background: #555555;
    border-radius: 13px;
    height: 18px;
    width: 80%;
    padding: 3px;
    direction: ltr;
    float: left;
    margin-left: 10%;
    margin-top: 40px;
}

#progress-html:after {
    content: '';
    display: block;
    background: orange;
    width: 90%;
    height: 100%;
    border-radius: 9px;
}